.searchbar {
    display: flex;
    border: 2.5px solid #9CADE9;
    border-radius: 0.25rem;
    padding: 7px;
    margin-top: 40px;
}

input {
    flex: 1;
    border: none;
    color: #9CADE9;
    font-weight: 700;
}

input:focus {
    border: none;
    outline: none;
}

input::placeholder {
    color: #9CADE9;
    font-weight: 700;
}

.searchbar svg {
    width: 25px;
    margin-right: 20px;
}

.blank-box {
    border: 2.5px solid black;
    border-radius: 0.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    width: 75%;
    height: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(100000px);
    display: flex;
    align-items: start;
    justify-content: end;
    padding: 20px 20px;

}

.close-box {
    background-color: #1279F2;
    color: white;
    border: 0;
    font-size: 1rem;
    border-radius: 999px;
    padding: 10px 15px;
    font-weight: 1000;
}
